/* ===== HERO ===== */

.hero {
  min-height: 100vh;
  background: linear-gradient(135deg, #020617, #0f172a);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 60px 60px; /* navbar space */
  position: relative;
  overflow: hidden;
}

/* CONTENT */

.hero-content {
  max-width: 1200px;
  margin-left: 14% ;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
}

/* ===== LEFT ===== */

.hero-left {
  animation: slideFadeLeft 1s ease forwards;
}

@keyframes slideFadeLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hero-left h1 {
  font-size: clamp(2.5rem, 5vw, 4rem);
  font-weight: 800;
  margin-bottom: 15px;
}

.hero-left h1 span {
  background: linear-gradient(90deg, #22c55e, #3b82f6);
  -webkit-background-clip: text;
  color: transparent;
}

.hero-left h2 {
  font-size: 1.6rem;
  color: #38bdf8;
  margin-bottom: 25px;
}

.hero-left p {
  max-width: 550px;
  color: #cbd5f5;
  line-height: 1.7;
  margin-bottom: 35px;
}

/* BUTTONS */

.hero-buttons {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 14px 30px;
  border-radius: 10px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.primary {
  background: #22c55e;
  color: #020617;
  box-shadow: 0 10px 25px rgba(34, 197, 94, 0.3);
}

.primary:hover {
  transform: translateY(-4px);
  box-shadow: 0 18px 40px rgba(34, 197, 94, 0.45);
}

.secondary {
  border: 2px solid #22c55e;
  color: #22c55e;
}

.secondary:hover {
  background: rgba(34, 197, 94, 0.15);
  transform: translateY(-4px);
}

/* ===== IMAGE ===== */

.profile-image {
  width: 360px;
  animation: slideFadeRight 1s ease forwards;
}

@keyframes slideFadeRight {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.profile-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 14px;
  box-shadow:
    0 30px 60px rgba(0, 0, 0, 0.55),
    0 0 40px rgba(34, 197, 94, 0.35),
    0 0 70px rgba(59, 130, 246, 0.25);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.profile-image img:hover {
  transform: scale(1.04) translateY(-8px);
  box-shadow:
    0 40px 80px rgba(0, 0, 0, 0.65),
    0 0 55px rgba(34, 197, 94, 0.45),
    0 0 90px rgba(59, 130, 246, 0.35);
}

/* ===== MOBILE ===== */

@media (max-width: 768px) {
  .hero {
    padding: 120px 20px 60px;
  }

  .hero-content {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 40px;
  }

  /* IMAGE FIRST */
  .profile-image {
    order: 1;
    width: 260px;
    margin: auto;
  }

  /* TEXT AFTER */
  .hero-left {
    order: 2;
  }

  .hero-buttons {
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 1050px) {
  .hero-content {
    margin: 0px;
  }
}
