/* ===== NAVBAR ===== */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: rgba(2, 6, 23, 0.96);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  transition: all 0.3s ease;
}

/* Navbar on scroll */
.navbar.scrolled {
  height: 60px;
  background: rgba(2, 6, 23, 0.98);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

/* NAV LINKS */

.nav-links {
  list-style: none;
  display: flex;
  gap: 32px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
  position: relative;
}

/* Hover underline */
.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #22c55e, #3b82f6);
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: #ffffff;
}

.nav-links a:hover::after {
  width: 70%;
}

/* Active link */
.nav-links a.active {
  color: #22c55e;
}

/* ===== MOBILE ===== */

@media (max-width: 768px) {
  .navbar {
    display: flex ;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
  }

   .nav-links {
    gap : 0;
    margin: 16px 0px 0px 0px;
    transition: all 0.4s ease;
  } 

  .nav-links.active {
    opacity: 1;
    visibility: visible;
  }

  .nav-links li {
    width: 100%;
    margin: 0px 5px 12px 6px;
    text-align: center;
  }

  .nav-links a {
    display: block;
    padding: 0px 5px;
    font-size: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  } 

  .nav-links a.active {
    color: #22c55e;
  }

  /* Hamburger Menu */
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    z-index: 10000; /* on top of nav-links */
  }

  .hamburger span {
    width: 26px;
    height: 3px;
    background: #e5e7eb;
    border-radius: 2px;
    transition: all 0.3s ease;
  }
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}
